// Ignoring prettier for grid properties
/* prettier-ignore */

.dialog {
  width: 300px;
  height: 150px;
  padding: 10px 0;

  text-align: center;

  display: grid;
  grid:
    'title'                  auto
    'message'                auto
    'close-button-container' auto
    / auto;
  .title                  { grid-area: title;                  }
  .message                { grid-area: message;                }
  .close-button-container { grid-area: close-button-container; }
}

.title {
  align-self: center;
}

.message {
  align-self: center;
}

.close-button-container {
  align-self: flex-end;

  > button {
    padding: 4px 20px;
    background-color: #dddddd;
    border-radius: 4px;
    text-transform: none;

    &:hover {
      background-color: #cccccc;
    }
  }
}
