.container {
  height: 100%;
}

.no-data {
  padding: 10px 20px;
}

.stringified-data-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.description {
  padding: 10px 20px;

  @media only screen and (max-width: 330px) {
    br {
      display: none;
    }
  }
}

.divider {
  margin: 0;
}

.stringified-data {
  overflow-y: scroll;
  white-space: pre;
  padding: 10px 20px;
}
