.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table {
  flex-grow: 1;
  min-height: 0; // For scrollbar to appear only within table area.
}

.message {
  flex-grow: 0;
  padding: 5px 10px;
  color: gray;
  font-size: 14px;
}
