.header {
  height: 100%;
  width: 100%;
  padding: 10px 30px;
  border-bottom: 8px solid #eeeeee; // follow the draggable splitter from react-reflex

  > * + * {
    padding-top: 10px;
  }
}

.input {
  width: 100%;
}
