.home {
  height: 100%;
  width: 100%;
}

.horizontal-splitter {
  &:hover {
    background-color: #1976d2 !important; // override height given by react-reflex
  }
}

.vertical-splitter {
  &:hover {
    background-color: #1976d2 !important; // override height given by react-reflex
  }
}
