.header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 8px solid #eeeeee; // follow the draggable splitter from react-reflex

  .text {
    margin-bottom: 15px;
  }

  > button {
    height: 30px;
    padding: 4px 20px;
    margin: 12px 0;
    background-color: #dddddd;
    border-radius: 4px;
    text-transform: none;

    &:hover {
      background-color: #cccccc;
    }
  }
}

.input {
  display: none;
}
