.header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 70px 10px 30px;
  border-bottom: 8px solid #eeeeee; // follow the draggable splitter from react-reflex
}

.text {
  margin-bottom: 15px;
}

.input {
  display: none;
}
