// prettier-ignore
.container {
  width: 100%;
  padding: 130px 20px 0 20px;

  display: grid;
  justify-content: center;
  align-items: center;
  grid:
    'page-title'         auto
    'page-description'   auto
    'date-time-settings' auto
    / auto;
  .page-title         { grid-area: page-title;         }
  .page-description   { grid-area: page-description;   }
  .date-time-settings { grid-area: date-time-settings; }
}

.page-title {
  font-size: 28px;
  text-align: center;
}

.page-description {
  padding-top: 50px;

  > * + * {
    padding-top: 10px;
  }
}

.date-time-settings {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.date-time-settings-title {
  padding: 0 0 20px 0;
  font-weight: bold;
}

.date-time-settings-select {
  display: flex;
  gap: 10px;
}

.date-time-settings-example {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
