@mixin splitter-hover {
  transition: all 1s ease 0.2s !important;

  &:hover {
    background-color: #aaaaaa !important;
  }
}

.horizontal-splitter {
  @include splitter-hover;
}

.vertical-splitter {
  @include splitter-hover;
}

.image-and-map-container {
  overflow-y: hidden !important; // Handle the weird issue that the scrollbar appears when image/map panes are evenly split (i.e. default)
}
