// prettier-ignore
.container {
  width: 100%;
  padding: 100px 20px;

  display: grid;
  justify-content: center;
  align-items: center;
  grid:
    'page-title'         auto
    'date-time-settings' auto
    'saved-in-browser'   auto
    / auto;
  .page-title         { grid-area: page-title;         }
  .date-time-settings { grid-area: date-time-settings; }
  .saved-in-browser   { grid-area: saved-in-browser;   }
}

.page-title {
  font-size: 28px;
  text-align: center;
}

.date-time-settings {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.date-time-settings-title {
  padding: 0 0 20px 0;
  font-weight: bold;
}

.date-time-settings-select {
  display: flex;
  gap: 10px;
}

.date-time-settings-example {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saved-in-browser {
  font-size: 14px;
}
