$screen-width-breakpoint: 400px;

// CSS selectors are intentionally defined within .row to increase their specificity.
// This is because there was a case that the style was not applied due to insufficient specificy
// only in production build. (Development build is okay, so it happens only in production build for some reason.)
.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: $screen-width-breakpoint) {
    flex-direction: column;
    align-items: baseline;
  }

  button {
    background-color: rgba(0, 0, 0, 0.04);

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  .lat-lng-text {
    margin-right: 30px;

    @media only screen and (max-width: $screen-width-breakpoint) {
      margin: 5px 0;
    }
  }

  .buttons {
    @media only screen and (max-width: $screen-width-breakpoint) {
      margin-bottom: 5px;
    }
  }

  .google-maps-button {
    padding: 4px;
    border-radius: 20%;
  }

  .google-maps-icon {
    height: 25px;
  }

  .google-street-view-button {
    margin-left: 10px;
    padding: 2px;
    border-radius: 20%;
  }

  .google-street-view-icon {
    height: 30px;
  }
}
