.menu-icon-wrapper {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon {
  height: 26px;
}

.menu-icon-text {
  font-size: 12px; // Smaller than 10px doesn't take effect in Chrome, but it does in iPhone's Safari.
}
